.main-div{


    border:1px solid;
    margin: auto;
}

.profile-img{
border: 1px solid black;

}

.current-order-box{

    margin: auto;
}

.order-details{
    border: 1px solid black;
    margin: 20px;
}

#price{
    display: inline-block;
    
    position: relative;
    margin: 0px 20px;
    text-align: left;
}
.list-items{

  margin: auto;
  display: inline-block;
}

label{

    display: inherit;
}

#complete-button{

width: 30%;
margin: 20px auto;

}

.dish-chef{

    margin-top: 0px;
}

.current-order-box{

    margin-bottom: 30px;
}

#stars{


    margin-top: 30px;
}

.react-rater{

    font-size: 45px;
}
.react-rater-star.is-active{

    color: #DAA520 !important;
}

.react-rater-star.will-be-active{

    color:#F0E68C !important;
}