.reason{


    font-weight: 400;
}

.warnings-list{

border: 1px solid black;
width: 100%;
padding: 20px;
margin-bottom:20px ;

}

.row-resize{


border-left:none;
border-right: none;
border-bottom:none ;
}


.button-dispute{

    width: 200px;
float:right;
border-radius:50px;
  
}

h2{
    margin-bottom: 5px;
}