.each-row {
  margin-left: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-resize {
  border-top: none;

  margin-top: 0px !important;
  padding: 0;
}

.popDishHeader {
  margin-left: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

.individual-dish {
  margin-right: 200px;
}

#menu-btn{

  justify-content: right;
}
