.each-row {
  margin-left: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-resize {
  border-top: none;

  margin-top: 0px !important;
  padding: 0;
}

.popDishHeader {
  margin-left: 0;
}

.popDishHeader {
  
  margin: 0;
}
.dish-name, .dish-chef, .dish-rating, .dish-restaurant {
  margin-bottom: 0 !important;
}

.individual-dish {
  margin-right: 200px;
}

#menu-btn{

  justify-content: right;
}
