.header-past-orders {
  padding-top: 30px;
  padding-bottom: 30px;
}

.past-order-breakdown-info {
  width: 100%;
  text-align: center;
  height: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.past-order-items-container {
  width: 100%;
  margin-left: 80px;
  text-align: center;
}

.past-order-item-image {
  width: 100px;
}

.past-order-item-dishName, .past-order-item-chefName {
  margin: 0;
  color: black;

}

.past-order-item-chefName {
  font-style: italic;
}

.past-orders-go-back-btn {
  border-radius: 20px;
  font-weight: bold;
  width: 150px;
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
}

.haa {
  width: 100%;
  color: red;
  margin-top: 20px;
  margin-left: -60px;
}
