.btn-payment {
  background-color: #1877f2;
  color: white;
  border-radius: 100px;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 15%;
}

.btn-payment:hover {
  font-weight: bold;
}

.header-payment {
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: bold;
}

.container-payment {
  margin-left: 10%;
  margin-right: 50%;
}

.form-container-payment {
  margin-bottom: 5%;
  border: 2px solid black;
  text-align: center;
}

.payment-form-expiration-date-div {
  display: flex;
}
