.btn-payment {
  background-color: #1877f2;
  color: white;
  border-radius: 100px;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 15%;
}
.btn-payment:hover {
  font-weight: bold;
}
.header {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
.container-payment {
  margin-left: 10%;
  margin-right: 50%;
}
.formBox {
  margin-bottom: 5%;
  border: 2px solid black;
  text-align: center;
}
