.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
   
}

.dish-chef{
    margin-top: 10%;
    color:black !important;
    border-color: black;
}

.btn-search{
    background-color: #1877F2;
    color: white;
    border-radius: 100px;
    width: 30%;
}

.row-top {
    margin-top: 2%;
    margin-bottom: 2%;
}

.container-chef{
    margin-left: 3%;
    margin-right: 3%;
}

.btn-dish{
    background-color: #1877F2;
    color: white;
    border-radius: 100px;
    width: 25%;
    float: right;
}


.btn-dish:hover{
    font-weight: bold;
}

.btn-search:hover{
    font-weight: bold;
}

.threedots:after {
    content: "\2807";
    font-size: 30px;
    color: black;
}
.threedots-a:hover{
    text-decoration: none;
}
  
.threedots-container{
    text-align: right;
    display: inline-block;
    float: right;
    
}

#price{
    display: inline-block;
    
    position: relative;
    margin: 0px 20px;
    float:left;
}


.card >.list-group {

    border: 0px;
}

.list-group-item{
    padding-top:0px;
}

.row-resize{

    margin-top:50px;
    border: 1px solid black;
    padding: 40px 20px ;
}

.book-selection{


    margin-bottom: 20px;
}

.modal-content{


    margin-top: 50%;
}