#search-input{

    width: 50% !important;
}

.total-btn{

    margin-right: auto;
    width: 20%;
}

.list{
    margin-top: 20px;
    border: 1px solid black;
}


.mod-title{
width: 100%;
font-weight: 700;
font-size: 25px;

}