

#title{

text-align: center;
margin: 3% auto;
}


.main-container{
    
    display: flex;

    margin-top: 9vh;
}
.logo-img {
  
    width:100%;
    padding-left: 4em;
    padding-right:4em;
 
}
.container-bg{

        background-color: #44A822;
}

.btn-login {
    border-radius: 200px;
    background-color: #1877F2;
    font-weight:bold;
}
.text-primary{
    color: #1877F2;
    font-weight: bold;
}


.logo-text {
  
    margin: 5vh 2vh;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-weight: bold;
}


.container-logo{
    padding: 20px;
    margin-right: 100px;
    border: 1px solid black;
    
}

.login-form{


    margin: 2vh auto;
   
}




@media (max-width: 1024px){

    .main-container{
    display: grid;
    margin-top: 0;
    }

    .container-logo{
        margin: auto;
        margin-bottom:0px;
        border: none;
        
    }

    .logo-text {
  
        font-size: 4vw;
      
       
    }

    .logo-img {
  
        width:100%;
        
     
    }

    h1{

font-size: 30px;
    }




}