
.chooseBtn {
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 40px;
    height: 50px;
    background-color: #1877F2 !important;
    font-weight: bold;
}

.center {
    height: 80%;  /* Fallback for browsers do NOT support vh unit */
    height: 80vh; /* These two lines are counted as one :-)       */
    width: 60%;  /* Fallback for browsers do NOT support vh unit */
    width: 60vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.text-center{
    color: #009821;
    font-weight: bold;
}