.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.dish{
    margin-top: 10%;
    color:black !important;
    border-color: black;
}

.btn-search{
    background-color: #1877F2;
    color: white;
    border-radius: 100px;
    width: 30%;
}

.row-top {
    margin-top: 5%;
    margin-bottom: 2%;
}

.container-chef{
    margin-left: 3%;
    margin-right: 3%;
}

.btn-dish{
    background-color: #1877F2;
    color: white;
    border-radius: 100px;
    width: 25%;
    float: right;
}

.add-sign{
    float: left;
}
.btn-dish:hover{
    font-weight: bold;
}

.btn-search:hover{
    font-weight: bold;
}

.threedots:after {
    content: "\2807";
    font-size: 30px;
    color: black;
}
.threedots-a:hover{
    text-decoration: none;
}
  
.threedots-container{
    text-align: right;
}