.dish-surfer {
  height: 200px;
  width: 200px;
  margin: 0;
  margin-top: 10%;
  color:black !important;
  border-color: black;
}

.popularDishes, .highestRatedDishes {
  margin-top: -40px;
  text-align: center;
}

.link, .link:hover {
  margin-left:0.5em;
  color: #009821;
  cursor: pointer;
}

.registerPrompt {
  text-align: center;
  
}



.popDishHeader, .highRatedDishHeader {
  margin-left: 3em;
}
