.navItem {
    color: black;
    font-weight: bold;
}
.navBrand {
    color: #009821 !important;
    font-weight: bold;
}
.navBackground {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #009821;
}
.shopping {
    width: 20px;
    height: 20px;
}
.shopping-menu{
    float: left !important;
}

.span {
    color: #1877F2 !important;
}

.navSignOut {
    color: #1877F2 !important;
    font-weight: bold !important;
    background-color: white !important;
}

.containerSearch {
    width: 30%;
}
.searchBar {
    width: 500px !important;
    border-radius: 100px;
    border-color: black;
}
.searchBtn {
    border-radius: 100px;
}
